body{
			margin:0;
			padding:0;
			text-align:center;
			}
		#cotainer{
			margin:0;
			text-align:center;
			width:950px;
			height:690px;
			}
		#top{
			margin:auto;
			text-align:center;
			background-image:url(../image/top.jpg);
			font-size:12px;
			width:950px;
			height:67px;
			}
		#middle{
			margin:auto;
			background-image:url(../image/back1.jpg);
			width:950px;
			height:560px;
			position:relative;
			}
		#bottom{
			margin:auto;
			background-image:url(../image/bottom.jpg);
			width:950px;
			height:63px;
			}
		#image{
			position:absolute;
			left:540px;
			border-radius:6px;
			top:70px;
			opacity:0.92;
			background-image:url(../image/login.jpg);
			width:377px;
			height:414px;
			}
		#image-1{
			margin-top:98px;
			}
		#image-1 input{
			width:325px;
			height:35px;
			font-weight:700;
			color:#333;
			margin-top:30px;
			border-radius:8px;
			}
		#image-2{
			margin-top:15px;
			margin-left:-55px;
			}
		#image-2 input{
			margin-left:20px;
			}
		#image-3{
			margin-top:25px;
			margin-left:-80px;
			}
		#but1{
			border:0;
			background-image:url(../image/button1.jpg);
			margin-left:20px;
			width:116px;
			height:42px;
			}
		#but2{
			border:0;
			background-image:url(../image/button2.jpg);
			margin-left:20px;
			width:116px;
			height:42px;
			}
		#image-4{
			margin-top:23px;
			margin-left:-18px;
			font-size:12px;
			color:#F00;
			}
		#image-4 a{
			color:#00F;
			}
		#top-1{
			margin-left:663px;
			position:absolute;
			top:37px;
			}
		#top-1 a{
			text-decoration:none;
			margin-left:10px;
			}
		#top-1 a:hover{
			text-decoration:underline;
			color:#F00;
			}
		#lonno{
			color:#F00;
			}