<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bookstore</display-name>
  <error-page>
    <error-code>404</error-code>
    <location>/WEB-INF/error/404.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/WEB-INF/error/500.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CahersetFilter</display-name>
    <filter-name>CahersetFilter</filter-name>
    <filter-class>Filter.CahersetFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CahersetFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ServletUnit</display-name>
    <servlet-name>ServletUnit</servlet-name>
    <servlet-class>Units.ServletUnit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletUnit</servlet-name>
    <url-pattern>/ServletUnit</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>GZIPFilter</display-name>
    <filter-name>GZIPFilter</filter-name>
    <filter-class>Filter.GZIPFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>Controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServletUI</display-name>
    <servlet-name>UploadServletUI</servlet-name>
    <servlet-class>WebUI.UploadServletUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServletUI</servlet-name>
    <url-pattern>/UploadServletUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowDataServlet</display-name>
    <servlet-name>ShowDataServlet</servlet-name>
    <servlet-class>Controller.ShowDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDataServlet</servlet-name>
    <url-pattern>/ShowDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>Controller.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerServlet</display-name>
    <servlet-name>ManagerServlet</servlet-name>
    <servlet-class>Controller.ManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerServlet</servlet-name>
    <url-pattern>/ManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletServlet</display-name>
    <servlet-name>DeletServlet</servlet-name>
    <servlet-class>Controller.DeletServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletServlet</servlet-name>
    <url-pattern>/DeletServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterUI</display-name>
    <servlet-name>RegisterUI</servlet-name>
    <servlet-class>WebUI.RegisterUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterUI</servlet-name>
    <url-pattern>/RegisterUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUI</display-name>
    <servlet-name>LoginUI</servlet-name>
    <servlet-class>WebUI.LoginUI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUI</servlet-name>
    <url-pattern>/LoginUI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveSession</display-name>
    <servlet-name>RemoveSession</servlet-name>
    <servlet-class>Controller.RemoveSession</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveSession</servlet-name>
    <url-pattern>/RemoveSession</url-pattern>
  </servlet-mapping>
  
  <filter>
    <display-name>RightFilter</display-name>
    <filter-name>RightFilter</filter-name>
    <filter-class>Filter.RightFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RightFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>Priviledge</display-name>
    <servlet-name>Priviledge</servlet-name>
    <servlet-class>Controller.Priviledge</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Priviledge</servlet-name>
    <url-pattern>/Priviledge</url-pattern>
  </servlet-mapping>
</web-app>